@import"reset.css";
.background-image {
    background: url(../img/rana-sawalha-364253-unsplash@1X.png);
    background-size: cover;
    height: 912px;
    width: 100%;
}

.header-fon {
    height: 56px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.header-j {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    padding-left: 52px;
    padding-top: 22px;
    float: left;
}
.header-j:hover{
    color: #3cb878;
}
.header-icons-ic li {
    background: url(../img/header-icons@1X.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    float: right;
    display: inline-block;
    cursor: pointer;
}
.header-icons-ic li:hover{
      background: url(../img/Composed.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    float: right;
    display: inline-block;
    cursor: pointer 
}
.header-icons-ic .ic_caledar {
    background-position: 0 0;
}
.header-icons-ic .ic_forum:hover{
    background-position: -48px 0;
}
.header-icons-ic .ic_forum {
    background-position: -48px 0;
}

.header-icons-ic .ic_journey {
    background-position: -99px 0;
}
.header-icons-ic .ic_journey:hover {
    background-position: -99px 0;
}
.line {
    background-color: #302e30;
    height: 19px;
    width: 2px;
    display: block;
    float: right;
    margin-right: 24px;
    margin-top: 19px;
}

.header-right-welcome-text {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    float: right;
    padding-top: 23px;
    padding-right: 93px;
}

.text-color {
    color: #3cb878;
}

.header-icons-ic {
    padding-right: 300px;
    padding-top: 19px;
}

.ic_forum {
    padding-right: 20px
}

.ic_journey {
    padding-right: 20px
}

.header-right-welcome {}

.form {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 444px;
    height: 584px;
    background-color: white;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 10px;
    box-sizing: border-box;
  
}
.text-sign {
    font-size: 20px;
    color: black;
    margin-left: 60px;
    margin-top: 25px;
     float: left;
}

.text-log {
    text-decoration: none;
    font-size: 14px;
    padding-left: 205px;
    color: #3cb878;
}
.text-log:hover{
    text-decoration: underline;
}
.shape {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    margin-top:27px;
    box-sizing: border-box;
}

.box-btn {
    float: left;
    position: relative;
    margin-left:62px;
    box-sizing: border-box;
    margin-top: 15px;
}

.btn {
    box-sizing: border-box;
    text-decoration: none;
    padding-top: 16px;
   padding-bottom: 14px;
    padding-left: 60px;
    padding-right: 30px;
        color: #ffffff;
    background-color: #305db8;
  display: inline-block; 
    box-sizing: border-box;
   border-radius: 3px;
}
.btn:hover{
    background-color: #264b96;
}
.btn-second {
    box-sizing: border-box;
    text-decoration: none;
    padding-top: 16px;
   padding-bottom: 14px;
    padding-left: 72px;
    padding-right: 34px;
        color: #ffffff;
    background-color: #df4a32;
  display: inline-block; 
    margin-left: 6px;
    box-sizing: border-box;
    border-radius: 3px;
}
.btn-second:hover{
    background-color: #c3412c;
}
.logo-f {
    position: absolute;
    width: 10px;
    height: 20px;
    top:13px;
    left: 20px;
    background-image: url(../img/facebook.png);
    
}
.logo-f::before{
    content: "";
    width: 2px;
    height: 28px;
    background-color: #919191;
    display: block;
    position: relative;
    left: 27px;
    bottom: 4px;
}

.logo-g {
    position: absolute;
    width: 25px;
    height: 16px;
    top:15px;
    left: 186px;
    background-image: url(../img/G.png);
    
}
.logo-g::before{
    content: "";
    width: 2px;
    height: 28px;
    background-color: #919191;
    display: block;
    position: relative;
    left: 34px;
    bottom: 6px;
}
.text-or {
    margin-top: 30px;
    text-indent:40%;
    font-size: 14px;
    margin-bottom: 6px;
}
.text-or::before{
    content: "";
    width: 135px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 82px;
    left: 2px;
   
}
.text-or::after{
    content: "";
    width: 135px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 82px;
    left: 180px
}


.form-in-first{
    margin-top: 9px;
    margin-bottom: 6px;
    width: 322px;
    height: 46px;
    padding-left: 19px;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow:  0px 0px 17px 0px #000000;
    border-radius: 5px;
}

.form-in {
    margin-top: 9px;
    margin-bottom: 6px;
    width: 322px;
    height: 46px;
    padding-left: 19px;
    font-size: 14px;
    box-sizing: border-box;
    
}



.chbox {
margin-top: 14px;
}

div button{
    background-color: #3cb878;
    font-size: 16px;
    color: white;
    width: 322px;
    height: 46px;
    margin-top: 23px;
    border-radius: 6px;
}
div button:hover{
    background-color: #329a65;
} 

